git+ssh://git@github.com/punch-mission/punchbowl.git#egg=punchbowl
prefect
pydantic
pymysql
sqlalchemy
pyyaml
dash
pandas
plotly
numpy
coolname
datapane
pytest
coverage
pytest-mock-resources[mysql]
freezegun
